@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(112.27deg, rgba(187, 173, 255, 0.86) 11.76%, #8E94F2 61.05%, #757BC8 99.12%);
    animation: gradient 6s ease infinite;
    background-size: 100% 100%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

span{
    font-size: 3em;
}
.center-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}
.title{
    animation: firstspan 4.5s forwards cubic-bezier(0.0, 0.0, 1.0, 1.0);
    z-index: 1;
    position: relative;
    color: #fff;
    top: -80px;
    letter-spacing: -0.075em;
}
#title.fade{
    animation: disappear 2.5s forwards cubic-bezier(0.0, 0.0, 1.0, 1.0);
    z-index: 1;
    position: relative;
    color: #fff;
    top: -80px;
    letter-spacing: -0.075em;
}
.animation{
    text-align: center;
    display: inline-block;
    animation: fadeIn 4.5s forwards, grow 2.5s forwards;
    font-family: 'Paytone One';
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#animation.fade{
    text-align: center;
    display: inline-block;
    animation: fadeOut 1.0s forwards, grow 2.5s forwards;
    font-family: 'Paytone One';
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slide{
    display: inline-block;
    overflow: hidden;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transition-timing-function: scale(1);
    }
    50%{
        opacity: 1;
        transition-timing-function: scale(1);
    }
    100%{
        opacity: 1;
        transition-timing-function: scale(1);
    }
}
@keyframes fadeOut {
    100%{
        opacity: 0;
        transition-timing-function: scale(1);
    }
    50%{
        opacity: 1;
        transition-timing-function: scale(1);
    }
    0%{
        opacity: 1;
        transition-timing-function: scale(1);
    }
}
@keyframes firstspan {
    0%{
        transform: translateX(50%);
    }
    60%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes disappear {
    100%{
        transform: translateX(50%);
    }
    60%{
        transform: translateX(50%);
    }
    0%{
        transform: translateX(0%);
    }
}
@keyframes grow {
    0%{
        font-size: 2rem;
    }
    100%{
        font-size: 5.5rem;
    }
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    font-family: 'Montserrat';
    transition: opacity 0.5s ease-out;
  }
  #shadow__btn.fade {
    opacity: 0;
  }
  
  .shadow__btn {
    background: #b664fa;
    box-shadow: 0 0 25px #b664fa;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px #b664fa,
                0 0 25px #b664fa,
                0 0 50px #b664fa,
                0 0 100px #b664fa;
  }

  .clmn-bttns{
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .login{
    background: none;
    border: none;
    margin-top: -12px;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    transition: opacity 0.5s ease-out;
  }
  #login.sumir{
    opacity: 0;
  }

.center-cadastro{
    position: absolute;
    width: 980px;
    height: 600px;
    top: 18vh;
    left: 20vw;
    
    background: linear-gradient(135deg, #FFFFFF 0%, #E8E8E8 100%);
    box-shadow: -29px 29px 58px rgba(98, 98, 98, 0.2), 29px -29px 58px rgba(98, 98, 98, 0.2), -29px -29px 58px rgba(255, 255, 255, 0.9), 29px 29px 73px rgba(98, 98, 98, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(98, 98, 98, 0.5);
    border-radius: 20px;
    z-index: 1;

    display: none;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    animation: firstspan 4.5s forwards cubic-bezier(0.0, 0.0, 1.0, 1.0);
    animation: fadeIn 4.5s forwards, littleGrow 0.5s forwards;
    
    transition: opacity 0.5s ease-out;
}

@keyframes littleGrow {
    0%{
        font-size: 0.1rem;
    }
    100%{
        font-size: 2.0rem;
    }
}
@keyframes littleGrowOut {
    0%{
        font-size: 2.0rem;
    }
    100%{
        font-size: 0.1rem;
    }
}

.balls{
    position: relative;
    height: 600px;
    width: 450px;
    background-image: url('background.jpeg');
    background-size: 650px;
    border-radius: 20px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.welcome{
    position: relative;
    height: 470px;
    width: 340px;
    border-radius: 20px;
    z-index: 2;

    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.52);

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.title-welcome{
    font-family: 'Paytone One';
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -0.075em;
}
.line-purple{
    background-color: #757BC8;
    height: 3px;
    width: 240px;
    border-radius: 5px;
}
.mensagem{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-top: 20px;
}
.pergunta{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-top: 260px;
}
.entrar-link{
    border: none;
    background: none;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-top: -4px;
}

.dados{
    position: relative;
    height: 600px;
    width: 530px;
    background-color: transparent;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.sub{
    font-family: 'Montserrat';
    color: #000;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-left: -4.5em;
    margin-bottom: 0.4em;
}
.input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #CDCDCD;
    border-radius: 1rem;
    background: none;
    padding: 0.7rem;
    padding-right: 5.8rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    color: #252525;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #CDCDCD;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.5,0,0.1,1);

    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: -0.015em;
    font-size: 0.8rem;
    padding-left: 0.2rem;
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #252525;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #F0F0F0;
    padding: 0 .2em;
    color: #252525;
   }

.title-dados{
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Montserrat';
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.025em;
}

.clear {
    clear: both;
  }
  
  .checkBox {
    display: block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #CDCDCD;
    display: inline-block;
    margin-top: 10px;
    margin-left: -170px;
  }
  
  .checkBox div {
    width: 60px;
    height: 60px;
    background-color: #CDCDCD;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
  }
  
  .checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
    background-color: #CDCDCD;
  }
  
  .checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }
  
  .transition {
    transition: 300ms ease;
  }

  .show-password{
    display: inline;
    font-family: 'Montserrat';
    color: #CDCDCD;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-left: 2px;
  }

  .btn-criar {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    height: 35px;
    width: 105px;
    border: 0px solid;
    background-image: linear-gradient(45deg,#757BC8,#ADA7FF,#757BC8);
    background-size: 500% 400%;
    color: white;
    border-radius: 10px;
    transition: 0.6s all;
    text-transform: initial;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    padding-left: 38px;

   }
   
   .btn-criar:hover {
    background-position: 75% 50%;
    transform: perspective(100px)
   }
   
   .btn-criar:active {
    transform: scale(0.95);
    transition: 0.1s;
   }

.line-purple2{
    background-color: #CDCDCD;
    height: 2px;
    width: 260px;
    display: inline;
    position: relative;
    margin-top: 30px;
    z-index: 1;
    border-radius: 5px;
}

.separete{
    display: inline;
    font-family: 'Montserrat';
    color: #CDCDCD;
    margin-top: -12px;
    font-size: 14px;
    background-color: #F0F0F0;
    width: 40px;
    text-align: center;
    z-index: 2;
}
  button {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: initial;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px solid #757BC8;
    gap: 0.75rem;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
    margin-top: 20px;
  }
  
  .button svg {
    height: 22px;
  }
  
  button:hover {
    transform: scale(1.02);
  }


  .center-login{
    position: absolute;
    width: 980px;
    height: 600px;
    top: 18vh;
    left: 20vw;
    
    background: linear-gradient(135deg, #FFFFFF 0%, #E8E8E8 100%);
    box-shadow: -29px 29px 58px rgba(98, 98, 98, 0.2), 29px -29px 58px rgba(98, 98, 98, 0.2), -29px -29px 58px rgba(255, 255, 255, 0.9), 29px 29px 73px rgba(98, 98, 98, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(98, 98, 98, 0.5);
    border-radius: 20px;
    z-index: 1;

    display: none;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    animation: firstspan 4.5s forwards cubic-bezier(0.0, 0.0, 1.0, 1.0);
    animation: fadeIn 4.5s forwards, littleGrow 0.5s forwards;
    
}

@keyframes littleGrow {
    0%{
        font-size: 0.1rem;
    }
    100%{
        font-size: 2.0rem;
    }
}

.enter{
    font-family: 'Montserrat';
    color: #000;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-left: -7.5em;
    margin-bottom: 0.4em;
}

.btn-entrar {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    width: 105px;
    border: 0px solid;
    background-image: linear-gradient(45deg,#757BC8,#ADA7FF,#757BC8);
    background-size: 500% 400%;
    color: white;
    border-radius: 10px;
    transition: 0.6s all;
    text-transform: initial;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    padding-left: 30px;

   }
   
   .btn-entrar:hover {
    background-position: 75% 50%;
    transform: perspective(100px)
   }
   
   .btn-entrar:active {
    transform: scale(0.95);
    transition: 0.1s;
   }

   .criar-link{
    border: none;
    background: none;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-top: -4px;
}